@model RestaurantRegistrationViewModel

<h2>Register New Restaurant</h2>

<form asp-controller="restaurant" asp-action="Registerrestaurant" method="post">
    <div class="form-group">
        <label for="name">restaurant Name:</label>
        <input type="text" id="name" name="Name" class="form-control" required />
    </div>

    <div id="map" style="height: 400px;"></div>
    <input type="hidden" id="latitude" name="Latitude" />
    <input type="hidden" id="longitude" name="Longitude" />

    <div class="form-check">
        <input type="checkbox" id="isActive" name="IsActive" class="form-check-input" value="true" />
        <label class="form-check-label" for="isActive">Is Active</label>
        <input type="hidden" name="IsActive" value="false" /> <!-- Hidden field for false value -->
    </div>

    <button type="submit" class="btn btn-primary">Register restaurant</button>
</form>
