<style>
    #map-container {
        height: 90vh; /* 90% of the viewport height */
        width: 90vw; /* 90% of the viewport width */
        margin: 0 auto; /* Center the map container horizontally */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #map {
        height: 100%; /* Fill the entire height of the map container */
        width: 100%; /* Fill the entire width of the map container */
    }

    #back-button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 1;
    }
</style>

<div id="map-container">
    <div id="map"></div>
</div>

<script>
    function initMap() {
        var latitude = @Html.Raw(Json.Serialize(ViewBag.Latitude));
        var longitude = @Html.Raw(Json.Serialize(ViewBag.Longitude));

        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: latitude, lng: longitude },
            zoom: 15
        });

        var marker = new google.maps.Marker({
            position: { lat: latitude, lng: longitude },
            map: map,
            title: 'Restaurant Location'
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4V4pu0qhJwNFnazaeGhXjxBHoltHCh3o&callback=initMap" async defer></script>

<a id="back-button" href="@Url.Action("Index", "Restaurant")" class="btn btn-primary">Back to all restaurants</a>
