

<h1>We apologize for the inconvenience, but we cannot make a ride order now</h1>
<p>Our drivers or vehicles are currently busy. If you want to help us maybe try becoming a driver or register a garage.</p>
<p> You can also press the Refresh button just for testing purposes</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-secondary mt-2">Get back to main menu</a>  <a asp-controller="Home" asp-action="RefreshVehiclesAndDrivers" class="btn btn-secondary mt-2"> Refresh</a>
