@using OrderMe.Core.Models.Garage
@model List<GarageIndexServiceModel>

<h1>Garage Vehicles</h1>

<h1>
    @foreach (var garage in Model)
    {
        <h1>@garage.Name</h1>

        if(User.IsAdmin()){
        @foreach (var vehicle in garage.Vehicles)
        {
            <h1>@vehicle.GarageId,@vehicle.Make</h1>
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(vehicle.ImageData)" alt="Image" />
            }
        }
        else
        {
            <h1>no car for u</h1>
        
        }

    }
</h1>

@* @
@foreach (var item in Model.Vehicles)
{
    <h1>@item.GarageId,@item.Make</h1>
}
 *@