
<h1>Welcome to the Home Page!</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello, @User.Identity.Name!</p>

    @if (User.IsAdmin())
    {
        <p>You are an admin!</p>
    }
    else
    {
        <p>You are not an admin.</p>
    }
}
else
{
    <p>You are not authenticated.</p>
}
