@model OrderMe.Models.HomeViewModel
<h1>Welcome to the Home Page!</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello, @User.Identity.Name!</p>

    @if (User.IsAdmin())
    {
        <p>You are an admin! Here is a car </p>
        <img src="@Model.CarUrl" alt="Image">
    }
    else
    {
        <p>You are not an admin.</p>
        <img src="@Model.PancakesUrl" alt="Image">
    }
}
else
{
    <p>You are not authenticated.</p>
}
