@using OrderMe.Core.Contracts
@model int // This is the restaurantId
@inject IGarageService garageService

<div class="text-center">
    <h2>No vehicles found in this garage.</h2> 
    @if (garageService.GetGarageByIdAsync(Model).Result.UserId == User.Id())
    {
        <a asp-controller="Vehicle" asp-action="AddVehicle" asp-route-garageId="@Model" class="btn btn-primary">Add Vehicle</a>
    }
    else
    {
        <h1>You do not own this garage, neither are you an admin</h1>
    }
</div>
